NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/geo_shalmani
JWT_SECRET=change_this_to_a_long_random_string
CLIENT_URL=http://localhost:5173

JWT_COOKIE_DAYS=7

SEED_ADMIN_NAME=Shalmani Sb
SEED_ADMIN_EMAIL=your-email-admin
SEED_ADMIN_PASSWORD=your-password